/*Theme palettes*/
.bg{
	background-color: black;
}

body{
	margin: 0;
	background-color: #4F4F4F;
}

/*Regions*/

/*Container*/
.container{
	/*border: 1px solid black;*/
	margin: 20px 30px;
}

.blog_block{
	margin: auto;
	width: 60%;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
	padding: 30px;
	background-color: darkgray;
}

/*Title Bar*/
#nav_bar{
	height: auto;
	display: flex;
	justify-content: flex-end;
	padding: 0 20px;
}

.nav_item{
	font-size: xx-large;
	font-family: fantasy;
	padding: 3px;
	margin: 3px;
}

.nav_item a{
	text-decoration: none;
	color: #983d0f;
}

#ni_home{
	
}

#ni_about{
	
}

