head
	meta(charset='utf-8')
	meta(name='viewport' content='width=device-width')
	title #{title}
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
	style
		include /css/site.css
body
	div#nav_bar.bg
		div.nav_item
			a#ni_home(href='/' ) KNX
		div.nav_item
			a#ni_about(href='/') About