doctype html
html
	head
		include partials/header.pug
	body
		div.container
			div.blog_block
				span KNX Project Site
				div
					p.
						This site acts as a personal collection of projects and the like to aggregate my software,
						film and other projects and to showcase my nepotism.
					p.
						Currently, the intended content of the site is stylized previews and links to other sites
						where each project lives, as well as notes and more blog-style updates so that I may 
						review them in the future and weep. 
					
		
